<!DOCTYPE HTML>

<html lang="en">

{% include head.html %}

<body class="is-preload">
	<div id="wrapper">

		{% include nav.html %}

		<div id="main">

			<article id="me" class="panel intro">
				<header>
					{{ page.content }}
				</header>
				<a href="#About" class="jumplink pic">
					<span class="arrow icon fa-chevron-right"></span>
				</a>
			</article>

			{% assign pages = site.pages %}
			{% for page in pages %}
			{% if page.show %}
			<article id="{{ page.title }}" class="panel">
				<header>
					<h2>{{ page.title }}</h2>
				</header>
				{{ page.content }}
			</article>
			{% endif %}
			{% endfor %}

		</div>
	</div>
	{% include footer.html %}
	{% include js.html %}
</body>

</html>